body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding-top: 4.5rem;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 56px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: 1.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: rgb(255, 255, 255);
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: rgb(255, 255, 255);  
}

.sidebar .nav-link.active {
    color: #a199d6;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}
main{
    padding-top: 4.5rem;
}
@media only screen and (min-width: 992px) {
    .card-columns{
        column-count: 4;
    }
}

@media only screen and (min-width: 1200px ) {
    .card-columns{
        column-count: 5;
    }
}


.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.row-content{

    padding: 14px 14px;
    margin-bottom: 2px;
    border-bottom: 1px solid #e5e5e5;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: row;
    max-width:100%;
}

