.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
.feather{
    height: 100px;
    width: 100px;
}
}
#connect {
    border: 0;
    line-height: 3;
    padding: 0 45px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px rgb(58, 57, 57);
    border-radius: 7px;
    background-color: rgb(36, 32, 41);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(66, 66, 66, 0.6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#connect:hover {
    background-color: rgb(80, 76, 76);
}

#connect:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}